@font-face {
    font-family: 'BloodyFont';
    src: url('https://github.com/bloodofsniper/bloodofsniper.github.io/blob/master/Regular/bloodyfont-regular-webfont.woff2') format('woff2'),
         url('https://github.com/bloodofsniper/bloodofsniper.github.io/blob/master/Regular/bloodyfont-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
