@font-face {
    font-family: 'ano_angularthin';
    src: url('https://github.com/bloodofsniper/bloodofsniper.github.io/blob/master/ano_angular_thin-webfont.woff2') format('woff2'),
         url('https://github.com/bloodofsniper/bloodofsniper.github.io/blob/master/ano_angular_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
